{% extends "::base.html.twig" %}
{% block title %}{{ features.name }}{% endblock %}
{% block body %}
    <div id="body">
        <div id="information">
            <img id="informationImage" src="{{ asset(features.image) }}">

            <div id="informationLocation">
                <p id="informationPosition">{{ features.name }}</p>

                <p id="informationPosition">{{ features.street }} {{ features.streetnumber }}</p>

                <p id="informationPosition">{{ features.plz }} {{ features.city }}</p>

                <p id="CoordinateLati">{{ features.east }}</p>

                <p id="CoordinateLong">{{ features.north }}</p>
            </div>
        </div>
        <br>

        <div id="routemap">

        </div>
        <br>

        <form action="{{ path('restaurant', ({'id': features.id})) }}" method="post">
            <div id="comments">
                <div id="writeComment">
                    <textarea class="myComment" name="myComment"
                              placeholder="Schreibe deinen eigenen Kommentar..."></textarea>

                    <div class="MyRating">

                    </div>
                    <button name="sendComment" class="sendComment" type="submit">
                        <i class="fa fa-paper-plane"></i>
                        Senden
                    </button>
                </div>

                <div id="allComments">
                    {% for comment in comments %}
                        <p id="oneComment">{{ comment[0].kommentar }}</p>
                        <p>{{ comment['username'] }}</p>
                        <p id="oneRating"> {{ comment[0].bewertungen }} / 5</p>
                    {% endfor %}
                </div>
            </div>
            <div id="bewertung">
                <td><div id="stars-default">
                    <input type=hidden name=rating"/>
                </div></td>
            </div>
        </form>
    </div>
{% endblock %}